<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <title>Todo List Example</title>
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <style>[ng-cloak] { display: none; }</style>
</head>
<body ng-app="todoapp">
  <section id="todoapp" ng-controller="TodoController">
    <header id="header">
      <h1>To-Do</h1>
      <form id="todo-form" ng-submit="addTodo()">
        <input id="new-todo" placeholder="What needs doing?" ng-model="newTodo" autofocus="autofocus" />
        <i class="fa fa-arrow-circle-o-right" ng-click="addTodo()"></i>
      </form>
    </header>
    <section id="main" ng-show="todos.length" ng-cloak>
      <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(!allChecked)" />
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list">
        <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{ completed: todo.completed, editing: todo == editedTodo }">
          <div>
            <input class="toggle" type="checkbox" ng-model="todo.completed" />
            <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
            <i class="fa fa-trash-o" ng-click="removeTodo(todo)"></i>
          </div>
          <form ng-submit="doneEditing(todo)" ng-show="todo == editedTodo" ng-cloak>
            <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="cancelEditing(todo)" todo-focus="todo == editedTodo" />
            <i class="fa fa-plus" ng-click="doneEditing(todo)"></i>
            <i class="fa fa-times" ng-click="cancelEditing()"></i>
          </form>
        </li>
      </ul>
    </section>
    <footer id="footer" ng-show="todos.length" ng-cloak>
      <span id="todo-count">
        <strong>{{remainingCount}}</strong>
        <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
      </span>
      <ul id="filters">
        <li>
          <a href="#" ng-class="{ selected: status == '' }">All</a>
        </li>
        <li>
          <a href="#/active" ng-class="{ selected: status == 'active' }">Active</a>
        </li>
        <li>
          <a href="#/completed" ng-class="{ selected: status == 'completed' }">Completed</a>
        </li>
      </ul>
    </footer>
  </section>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/todoController.js"></script>
  <script src="/js/services/todoStorage.js"></script>
  <script src="/js/directives/todoLine.js"></script>
</body>
</html>